# Pretrained Model, classification, Elastic Net

In [1]:
import os
import pandas as pd
import numpy as np
from google.colab import drive

drive.mount('/content/drive', force_remount=True)
os.chdir('/content/drive/MyDrive/Colab Notebooks/Innolab/Github')

Mounted at /content/drive

In [2]:
from src.preprocessing.preprocessing_matlab_files import preprocess_mat_files
from src.preprocessing.data_preparation import prepare_data

In [3]:
matlab_dir = "/content/drive/MyDrive/Colab Notebooks/Innolab/Matlab Files" # Enter the directory for the matlab files
excel_path = "/content/drive/MyDrive/Colab Notebooks/Innolab/DELCODE_dataset.xlsx" # Enter the directory for the corresponding excel sheet
write_dir = "/content/drive/MyDrive/Colab Notebooks/Innolab/write" # ...
export_file = False # rename to export file
preprocessing_type = 'aggregation' 

df = preprocess_mat_files(matlab_dir = matlab_dir, excel_path = excel_path, write_dir = write_dir,
                           export_file = export_file, preprocessing_type = preprocessing_type, statistic = 'mean')

loading files
Starting Preprocessing
Creating Final Dataset
Done!

In [4]:
df

    ConnID Repseudonym siteid age  ...       5_7       6_6       6_7       7_7
0        1   0a8d02f2b     11  66  ...  0.105608  0.355734  0.317396  0.349668
1        2   0a71a953d     17  72  ...  0.090363  0.192952  0.105353  0.240881
2        3   0a61339db     11  72  ...   0.06542  0.152252  0.080831   0.19634
3        4   0b28aed58     17  76  ...  0.064197   0.17999  0.118052  0.227498
4        5   0c1c5ae77      8  64  ...  0.092701   0.30901  0.235893   0.37739
..     ...         ...    ...  ..  ...       ...       ...       ...       ...
904    906   f816d269a     16  84  ...  0.053695  0.155652   0.11343  0.156167
905    907   f98419539      5  71  ...  0.065844  0.178566  0.066199  0.169795
906    908   fade343c8      8  78  ... -0.012336  0.127273  0.094503  0.102097
907    909   fbc8a48a0     14  61  ...   0.10987  0.101379  0.069668  0.249134
908    910   ff5a29440     11  80  ...  0.038429   0.15669  0.111735  0.173081

[909 rows x 47 columns]

In [5]:
classification = True
columns_drop = ["ConnID", "Repseudonym", "siteid", "visdat", "MEM_score", "Apoe", "IDs"]
target = "prmdiag"
y_0 = [0]
y_1 = [2, 3]
train_size = 0.8
seed = 123
split = True

In [6]:
# preparation of data
ytrain, Xtrain, ytest, Xtest = prepare_data(data = df, classification = classification,
                         columns_drop = columns_drop, target = target, y_0 = y_0, y_1 = y_1,
                         train_size = train_size, seed = seed, split = split)


pd.concat([ytest, Xtest], axis = 1) # test data

       y       age       sex   edyears  ...       5_7       6_6       6_7       7_7
30   0.0  1.774171 -1.149848 -0.727818  ...  0.378994  0.241618 -1.326802 -0.826122
792  1.0  1.106080 -1.149848  2.001953  ... -2.042218  1.017431  1.212451 -0.092794
497  0.0  0.103945  0.469414 -0.386597  ...  0.178686  0.452410 -0.218096 -0.668842
594  1.0  1.440126 -1.149848  1.660732  ...  0.508736  0.035485  1.003808  0.571721
712  0.0  0.772035  0.469414 -0.727818  ...  0.275452 -0.031656  1.103737  1.907031
..   ...       ...       ...       ...  ...       ...       ...       ...       ...
572  0.0 -0.898191 -1.149848  0.978289  ... -0.917173 -0.396943  0.721518  0.354325
332  1.0  0.605013  0.469414 -0.386597  ... -0.233258 -1.609627 -1.069307 -1.661246
228  1.0  0.103945  0.469414  2.001953  ... -0.234765 -1.662786 -0.931215 -2.204884
397  1.0  2.108216 -1.149848 -0.727818  ... -0.248919 -0.169679  0.058756 -0.365943
286  1.0  2.108216 -1.149848  2.001953  ... -1.657125 -0.304572 -0.294851 -0.673171

[94 rows x 40 columns]

# Train Model
Evaluate AUC and accuracy on test data

In [7]:
from src.models.pipeline_elastic_net import model_elastic_net
from sklearn.metrics import accuracy_score, roc_auc_score

In [8]:
model = model_elastic_net(X_train = Xtrain, y_train = ytrain, 
                          classification = True, 
                          n_alphas_logreg = 10, 
                          l1_ratios_logreg= np.linspace(0,  1, 11).tolist(), 
                          cv_logreg = 5,
                          max_iter = 500)

/usr/local/lib/python3.7/dist-packages/sklearn/linear_model/_sag.py:354: ConvergenceWarning: The max_iter was reached which means the coef_ did not converge
  ConvergenceWarning,

In [9]:
predictions = model.predict(Xtest)
accuracy_score(ytest, predictions)

0.6914893617021277

In [10]:
pred_prob = model.predict_proba(Xtest)
auc = roc_auc_score(ytest, pred_prob[:, 1])
auc

0.706959706959707

In [11]:
model.l1_ratio_

array([0.1])

In [12]:
model.C_

array([0.04641589])

# Save Model

In [13]:
import pickle

In [14]:
filename ='pretrained_elnet_class_agg_mean.sav'
pickle.dump(model, open(filename, 'wb'))

# Visualisation Feature Importance and Coeffs (evtl Ridge)

In [ ]:
# load model
model = pickle.load(open("/content/drive/MyDrive/Colab Notebooks/Innolab/pretrained_elnet_class_agg_mean.sav", 'rb'))