# Pretrained Model, regression (target MEM-Score), Elastic Net

In [1]:
import os
import pandas as pd
import numpy as np
from google.colab import drive

drive.mount('/content/drive', force_remount=True)
os.chdir('/content/drive/MyDrive/Colab Notebooks/Innolab/Github')

Mounted at /content/drive

In [2]:
from src.preprocessing.preprocessing_matlab_files import preprocess_mat_files
from src.preprocessing.data_preparation import prepare_data

In [3]:
matlab_dir = "/content/drive/MyDrive/Colab Notebooks/Innolab/Matlab Files" # Enter the directory for the matlab files
excel_path = "/content/drive/MyDrive/Colab Notebooks/Innolab/DELCODE_dataset.xlsx" # Enter the directory for the corresponding excel sheet
write_dir = "/content/drive/MyDrive/Colab Notebooks/Innolab/write" # ...
export_file = False # rename to export file
preprocessing_type = 'aggregation' 

df = preprocess_mat_files(matlab_dir = matlab_dir, excel_path = excel_path, write_dir = write_dir,
                           export_file = export_file, preprocessing_type = preprocessing_type, statistic = 'max')

loading files
Starting Preprocessing
Creating Final Dataset
Done!

In [4]:
df

    ConnID Repseudonym siteid age  ...       5_7       6_6       6_7       7_7
0        1   0a8d02f2b     11  66  ...  0.885204   1.26936  1.249158  1.370669
1        2   0a71a953d     17  72  ...  0.953771  1.211397  1.204627  1.371878
2        3   0a61339db     11  72  ...  0.699996  0.932172   1.02339  1.326019
3        4   0b28aed58     17  76  ...  0.901711  0.969546  1.222428  1.318915
4        5   0c1c5ae77      8  64  ...  0.923432  1.153777  0.889666  1.244347
..     ...         ...    ...  ..  ...       ...       ...       ...       ...
904    906   f816d269a     16  84  ...   0.70373  0.887294  1.088491  1.377185
905    907   f98419539      5  71  ...  0.987812  1.168594  0.962629  1.500568
906    908   fade343c8      8  78  ...  0.578736  0.769957  1.071035  1.132849
907    909   fbc8a48a0     14  61  ...  0.861273  1.008168  1.016017  1.177611
908    910   ff5a29440     11  80  ...  0.591342  1.052554  1.216155  1.151722

[909 rows x 47 columns]

In [5]:
classification = False
columns_drop = ["ConnID", "Repseudonym", "siteid", "visdat", "prmdiag", "Apoe", "IDs"]
target = "MEM_score"
y_0 = [0]
y_1 = [2, 3]
train_size = 0.8
seed = 123
split = True

In [6]:
# preparation of data
ytrain, Xtrain, ytest, Xtest = prepare_data(data = df, classification = classification,
                         columns_drop = columns_drop, target = target, y_0 = y_0, y_1 = y_1,
                         train_size = train_size, seed = seed, split = split)


pd.concat([ytest, Xtest], axis = 1) # test data

            y       age       sex  ...       6_6       6_7       7_7
721  0.973914 -0.500490  0.690935  ...  0.073113  1.387568  0.574251
335  0.281476 -0.174161  0.690935  ...  1.572232 -0.499216 -1.314849
590   0.19615 -0.337326 -1.041167  ...  0.047601  0.655085  0.711177
7   -1.815235  0.641659  0.690935  ...  0.092975  3.507035  4.608404
567  0.676812 -0.174161  0.690935  ...  1.484416  0.542388  1.974195
..        ...       ...       ...  ...       ...       ...       ...
151   0.87983 -0.337326 -1.041167  ...  1.639827 -1.280220  0.089260
793  -0.39345  0.967987 -1.041167  ... -0.256357 -0.054751  0.298028
11   1.320656 -1.153146  0.690935  ... -0.741883 -0.090875  0.390924
317  0.627507 -0.174161 -1.041167  ...  0.326859 -0.234685  0.291422
701 -0.459267  0.478495 -1.041167  ...  0.323924  0.662685 -0.209512

[182 rows x 40 columns]

# Train Model

In [7]:
from src.models.pipeline_elastic_net import model_elastic_net
from sklearn.metrics import mean_squared_error, r2_score

In [8]:
model = model_elastic_net(X_train = Xtrain, y_train = ytrain, classification = False, 
                          n_alphas_linreg = 10, 
                          l1_ratios_linreg= np.linspace(0.01,  1, 11).tolist(),
                          cv_linreg = 5)

In [9]:
predictions = model.predict(Xtest)
mean_squared_error(ytest, predictions)

0.6757374536843218

In [10]:
r2_score(ytest, predictions)

0.3098320755571884

In [11]:
model.l1_ratio_

0.109

In [12]:
model.alpha_

0.16811683109271316

# Save Model

In [13]:
import pickle

In [14]:
filename ='pretrained_elnet_regr_agg_max.sav'
pickle.dump(model, open(filename, 'wb'))

# Visualisation Feature Importance and Coeffs (evtl Ridge)

In [ ]:
# load model
model = pickle.load(open("/content/drive/MyDrive/Colab Notebooks/Innolab/pretrained_elnet_regr_agg_max.sav", 'rb'))