In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import os

import keras
import tensorflow as tf
from keras.models import Sequential, Model, Input
from keras.layers import Dense, Dropout, Flatten
from keras.layers import Conv2D, MaxPooling2D
from sklearn.preprocessing import StandardScaler
from tensorflow.keras.optimizers import Adam
from tensorflow.keras.losses import BinaryCrossentropy

from sklearn.metrics import accuracy_score
from google.colab import files

### Load Dataset

In [70]:
from google.colab import drive
drive.mount('/content/drive', force_remount=True)

#load data from csv
test = pd.read_csv("/content/drive/MyDrive/Colab Notebooks/Innolab/test.csv")
train = pd.read_csv("/content/drive/MyDrive/Colab Notebooks/Innolab/train.csv")

Mounted at /content/drive

In [ ]:
os.chdir("/content/drive/MyDrive/Colab Notebooks/Innolab")
import data_loader as dtl
# import nn_modelling_utils as ut

### Preprocessing and preperation for CNN

In [71]:
test.head(2)

   ConnID Repseudonym  siteid  age  ...   243_246   244_245   244_246   245_246
0     249   46c3433d4      17   74  ...  0.171596  0.276317  0.494943  0.344752
1     577   b18d729af      11   76  ...  0.441045  0.197800  0.410294  0.692895

[2 rows x 30146 columns]

In [72]:
scaler = StandardScaler()

In [73]:
def preprocess_conn_matrix(df, train_data = True):
    #create target
    y, X = dtl.preprocess_data(df)
    y = np.array(y, dtype=np.float32)

    #drop columns
    cols_to_drop = ["MEM_score", "Apoe", "age", "sex", "edyears"]
    X.drop(columns=cols_to_drop, inplace = True)
    
    # if train_data:
    #     scaler.fit_transform(X)
    # else:
    #     scaler.transform(X)

    #turn array to matrix
    n_c = dtl.flat_to_mat(X.iloc[0,:]).shape[0]
    n_train = len(X)
    X_train_2d = np.zeros(n_train*n_c*n_c).reshape(n_train,n_c,n_c)

    for i in range(n_train):
      X_train_2d[i] = dtl.flat_to_mat(X.iloc[i,:])

    #reshape data
    X_train_2d = X_train_2d.reshape(X_train_2d.shape[0], 1, X_train_2d.shape[1], X_train_2d.shape[2])

    return X_train_2d, y

In [ ]:
def data_augmentation_gaussian(X,y, scale = .17):
    X_noise = X.copy()
    y_noise = y.copy()

    for i in range(X.shape[0]):
        #add gaussian noise
        noise = np.random.normal(loc = 0, scale = scale, size = (X.shape[1],X.shape[2])
        X_noise[i] = X[i] + np.triu(noise, k=1) + np.triu(noise, k=1).T

    return np.concatenate((X, X_noise), axis = 0), np.concatenate((y, y_noise), axis = 0)

In [ ]:
X_train, y_train = preprocess_conn_matrix(train, train_data = True)
X_test, y_test = preprocess_conn_matrix(test, train_data = False)

In [ ]:
X_train,y_train = data_augmentation_gaussian(X_train,y_train, scale = .17)

In [ ]:
## TODO: Implement CCNN https://www.researchgate.net/publication/318652568_Resting_State_fMRI_Functional_Connectivity-Based_Classification_Using_a_Convolutional_Neural_Network_Architecture/link/5978a095aca27203ecc4a2a1/download
## Write training routine
# validation batch
# add visualization